#month-summary{
    margin-left: 500px;
    margin-top: 30px; 
}
#avail-budget{
    font-size: 200%;
    margin-left: 70px;
}
.inc-exp-heading{
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.712);
}
.value{
    margin-top: -50px;
    margin-right: 20px;
    float: right;
}
#inc-field{
    background-color: rgba(0, 119, 255, 0.644);
    width: 350px;
    margin-left: -50px;
    display: inline-block;
}
#inc-field h4{
    margin-top: 0px;
    margin-bottom: 0px;
}
#inc-field .value{
    margin-top: -27px;
}

#exp-field{
    background-color: rgba(245, 36, 36, 0.705);
    width: 350px;
    margin-left: -50px;
    margin-top: -15px;
}
h3,h1{
    font-weight: 300;
}
.input-budget{
    height: 30px;
    width: 50px;
    border: 2px solid #1b1b1b3d;
    border-radius: 5px;
    outline: none;
}
.input-budget:focus{
    border-color: rgba(0, 119, 255, 0.644);
    /* border-color: rgba(248, 43, 43, 0.849) */
}
#description-field{
    width: 300px;
    margin-left: 20px;
    padding: 5px 10px;
}
#value-type{
    height: 40px;
    margin-left: 100px;
}
#value-field{
    margin-left: 10px;
    padding: 4px 5px;
}
#icon{
    /* border: 2px solid red; */
    width: 40px;
    margin-top: -40px;
    margin-left: 880px;
    color: rgba(0, 119, 255, 0.623); 
    font-size: 35px;
}
#icon:active{
    transform: translateY(2px);
}
#inc-section{
    /* background-color: red; */
}
#inc-head{
    color: rgba(0, 119, 255, 0.623); 
    /* color: white; */
}
#exp-head{
    color: rgb(245, 36, 36); 
    /* color: white; */
}
.type-head{
    margin-left: 150px;
    margin-right: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.828);
    margin-bottom: 0px;
}
#exp-section{
    /* background-color: green; */
}

.remove-item{
    color: red;
    width: 20px;
    margin-top: -22px;
    margin-left: 420px;
    float: left;
}
.remove-btn{
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}
.remove-btn:focus { outline: none; }
.remove-btn:active { transform: translateY(2px); }

.type-field:hover .remove-btn { 
    display: block;
    color: rgba(219, 57, 57, 0.856)
}
.type-field:hover .type-value { transform: translateX(-20px); }
.type-field{
    margin-left: 150px;
    margin-right: 47px;
    padding: 18px;
    border-bottom: 1px solid #e7e7e7;
}
.type-desc{
    float: left;
    margin-top: -8px;
    margin-bottom: 5px;
    color: rgb(88, 85, 85)
    /* background-color: green; */
}
.type-value{
    float: right;
    margin-top: -8px;
    margin-bottom: 5px;
    transition: transform 0.3s;
    color: rgb(238, 46, 46);
    /* background-color: red; */
}
.type-field:first-child { border-top: 1px solid #e7e7e7; }
.type-field:nth-child(even) { background-color: #f7f7f7; }

#logout-btn{
    background-color: rgb(246, 80, 80);
    border-radius: 2px;
    border: 2px ;
    padding: 5px 10px;
    float: right;
    margin-right: 20px;
    margin-top: -60px;
    transition: transform 0.4s;
    color: white;
}

#logout-btn:hover {
    background-color: rgba(255, 0, 0, 0.842);
}

#options{
    /* border: 2px solid red; */
    font-size: 30px;
    width: 100px;
    color:rgba(18, 67, 124, 0.993);
}

#edit-profile{
    margin-right: 20px;
}

#view-profile:hover{
    color: rgb(48, 134, 231);
    box-shadow: 1px 1px #cac8c8;
}
#edit-profile:hover{
    color: rgb(48, 134, 231);
    box-shadow: 1px 1px #cac8c8;
}

#item-date{
    /* float: right; */
    /* border: 2px solid red; */
    margin-top: 10px;
    margin-left: 190px;
    margin-right: -50px;
    padding: 8px 7px;
    border: 2px solid #1b1b1b3d;
    border-radius: 5px;
}

#item-date:focus{
    border-color: rgba(0, 119, 255, 0.644);
}

#month{
    margin-left: 535px;   
    padding: 8px 7px;
    border: 2px solid #1b1b1b3d;
    border-radius: 5px;
}

#month:focus{
    border-color: rgba(0, 119, 255, 0.644);
}

#document-icon{
    font-size: 300%;
}

#document-icon-div{
    color: rgba(0, 119, 255, 0.644);
    background-color: white;
    border-radius: 20%;
    position: fixed;
    display: block;
    bottom: 1.5%;
    left: 1.5%;
    z-index: 1;
    border: 1px solid #dfe1e5;
}

#document-icon-div:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border: 1px solid rgba(223, 225, 229, 0.459);
    cursor: pointer;
}

#document-icon-div:active{
    transform: translateY(2px);
}

#popup-window-backlit{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#window-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

#window-content h2{
    text-align: center;
}

#window-content button{
    border-radius: 5px;
    padding: 5px 20px;
    transition: border-color 0.3s;
    transition: color 0.3s;
    background-color: white;
    outline: none;
    display: block;
    margin-top: 20px;
    margin-left: 300px;
    border-color: transparent;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 119, 255, 0.89);
}

#window-content button:hover{
    background-color: rgba(0, 119, 255, 0.842);
    cursor: pointer;
}

#window-content button:active{
    transform: translateY(1.5px);
}

#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
#close:hover,
#close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

#close:active{
    transform: translateY(2px);
}

.checkbox-div{
    text-align: center;
    padding: 20px 50px;
    /* background-color: red; */
}
.checkbox {
    outline: 0;
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); */
    padding: 15px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-right: 40px;
    margin-bottom: -10px;
}

.checkbox:checked
{
    border: 1px solid rgba(0, 119, 255, 0.486);
    background-color: rgba(0, 119, 255, 0.644);
}

.checkbox:hover{
    cursor: pointer;
}